body {
	background-color: #ffffff;
	
	font-family: sans-serif;
	font-size: 11pt;
}

div.postBody {
	padding-left: 10px;
	
	width: 75%;
}

a.fxnLink:link {
	font-size: 10pt;
	text-decoration: underline;
}

a.fxnLink:visited {
	font-size: 10pt;
	text-decoration: underline;
}

h1 {
	width: 100%;
	
	padding-top: 2px;
	padding-bottom: 4px;
	padding-left: 2px;
	padding-right: 2px;
	
	background-color: #009966;
	color: #ffffff;
	
	font-family: sans-serif;
}

h1 a:link {
	color: #ffffff;
	
	text-decoration: none;
}

h1 a:visited {
	color: #ffffff;
	
	text-decoration: none;
}

h2 {
	padding-top: 2px;
	padding-bottom: 4px;
	padding-left: 2px;
	padding-right: 2px;
	
	width: 75%;
	
	background-color: #009966;
	color: #ffffff;
	
	font-family: sans-serif;
}

h2 a:link {
	color: #ffffff;
	
	text-decoration: none;
}

h2 a:visited {
	color: #ffffff;
	
	text-decoration: none;
}

h3 {
	width: 50%;
	
	padding-top: 2px;
	padding-bottom: 4px;
	padding-left: 2px;
	padding-right: 2px;
	
	background-color: #555555;
	color: #ffffff;
	
	font-family: sans-serif;
}

h4 {
	width: 50%;
	
	padding-top: 2px;
	padding-bottom: 4px;
	padding-left: 2px;
	padding-right: 2px;
	
	background-color: #999999;
	color: #ffffff;
	
	font-family: sans-serif;
	font-style: none;
}