commons-cli.path=C:/Users/Daniel Spiewak/Libraries/commons-cli-1.0/commons-cli-1.0.jar
commons-dbcp.path=C:/Users/Daniel Spiewak/Libraries/commons-dbcp-1.2.2/commons-dbcp-1.2.2.jar
ant.path=C:/Users/Daniel Spiewak/Applications/eclipse/plugins/org.apache.ant_1.7.0.v200704241635/lib/ant.jar

javadoc.path=../www/api

build.classpath=${commons-cli.path}${path.separator}${commons-dbcp.path}${path.separator}${ant.path}build.debug=yes
build.debug=yes

activeobjects.version=0.2
